<!DOCTYPE html>
<html>
	<%- include('head.ejs') %>
	<style>
		#chat {
			background-color: rgba(160, 160, 160, 0.4);
			border-radius: 20px;
			width: 60%;
			margin-left: 20%;
			height: 85vh;
		}

		#chat_room {
			position: relative;
		}

		#message_form {
			background-color: rgba(160, 160, 160, 0.4);
			border-radius: 20px;
			width: 60%;
			margin-left: 20%;
			position: absolute;
			bottom: 5px;
		}

		p {
			max-width: 70%;
			padding: 5px;
			border-radius: 5px;
		}

		.sent {
			position: relative;
			right: 10px;
			background-color: cyan;
			margin-right: 5px;
		}

		.recieved {
			position: relative;
			left: 10px;
			background-color: aliceblue;
			margin-left: 5px;
		}
	</style>
	<body>
		<%- include('header.ejs') %>
		<section id='chat'>
			<section id='chat_room'>
			</section>
		<form id='message_form'>
			<input id='message' type='text' maxlength="255" width="50" />
			<button id='poke'>Post</button>
		</form>
	</section>

		<script>
		socket.emit('create', {
			room: '<%= room %>',
			username: '<%= user %>'
		});

		socket.on('join', (data) => {
			let entry = document.createElement('p');
			entry.innerHTML = data;
			document.getElementById('chat_room').appendChild(entry);
		})

		socket.on('message', function(message) {
			let entry = document.createElement('p');
			if (message.author == '<%= user %>') {
				entry.className = 'sent'
			} else {
				entry.className = 'recieved'
			}
			entry.innerHTML = '<span>' + message.author + '</span> : ' + message.body;
			document.getElementById('chat_room').appendChild(entry);
		});

		document.getElementById('message_form').addEventListener('submit', function (event) {
			event.preventDefault();
			let message = document.getElementById('message');
			socket.emit('message', {
				author: '<%= user %>',
				dest: '<%= dest %>',
				body: escapeHtml(message.value)
			});
			socket.emit('new_message', {
				author: '<%= user %>',
				dest: '<%= dest %>',
				title: 'New Message',
				body: escapeHtml(message.value)
			})
			message.value = '';
		});
		</script>
	</body>
</html>