<!DOCTYPE html>
<html>
	<%- include('head.ejs') %>
 
	<body>
		<%- include('header.ejs') %>
		<input id='message' type='text' maxlength="255" width="50" />
		<button id='poke' onclick="sendMessage();">Post</button>

		<section id='chat_room'>
		</section>

		<script src="/socket.io/socket.io.js"></script>
		<script>
		var socket = io.connect();

		socket.emit('create', {
			room: '<%= room %>',
			username: '<%= user %>'
		});

		socket.on('login', (data) => {
			let entry = document.createElement('p');
			entry.innerHTML = data;
			document.getElementById('chat_room').appendChild(entry);
		})

		socket.on('message', function(message) {
			let entry = document.createElement('p');
			entry.innerHTML = '<span>' + message.author + '</span> : ' + message.body;
			document.getElementById('chat_room').appendChild(entry);
		});

		function sendMessage() {
			let message = document.getElementById('message');
			socket.emit('message', {
				author: '<%= user %>',
				body: message.value
			});
			message.value = '';
		}
		</script>
	</body>
</html>