<!DOCTYPE html>
<html>
	<%- include('head.ejs') %>
 
	<body>
		<%- include('header.ejs') %>
		<form id='message_form'>
			<input id='message' type='text' maxlength="255" width="50" />
			<button id='poke'>Post</button>
		</form>

		<section id='chat_room'>
		</section>

		<script>
		socket.emit('create', {
			room: '<%= room %>',
			username: '<%= user %>'
		});

		socket.on('join', (data) => {
			let entry = document.createElement('p');
			entry.innerHTML = data;
			document.getElementById('chat_room').appendChild(entry);
		})

		socket.on('message', function(message) {
			let entry = document.createElement('p');
			entry.innerHTML = '<span>' + message.author + '</span> : ' + message.body;
			document.getElementById('chat_room').appendChild(entry);
		});

		document.getElementById('message_form').addEventListener('submit', function (event) {
			event.preventDefault();
			let message = document.getElementById('message');
			socket.emit('message', {
				author: '<%= user %>',
				dest: '<%= dest %>',
				body: message.value
			});
			socket.emit('new_message', {
				author: '<%= user %>',
				dest: '<%= dest %>',
				title: 'New Message',
				body: 'new message from :' + socket.username
			})
			message.value = '';
		});
		</script>
	</body>
</html>