<!DOCTYPE html>
<html lang="fr">
<%- include('head.ejs'); %>

<body>
	<style>
		<style>#matches {
			margin-left: 25px;
			margin-top: 5px;
			overflow-x: auto;
			overflow-y: unset;
			height: 600px;
			white-space: nowrap;
		}

		.public_profile_mini p {
			margin-left: 20px;
			display: inline-block;
		}

		#likes img {
			float: right;
		}

		.public_profile_mini {
			display: inline-block;
			border: 2px solid #f00;
			background-size: cover;
			width: 400px;
			height: 550px;
			color: white;
			text-shadow: 0 0 10px black;
			position: relative;
		}

		.public_profile_mini .bio {
			margin-left: 0px;
			position: absolute;
			width: 390px;
			max-height: 300px;
			bottom: 0px;
			left: 0px;
			white-space: normal;
		}
	</style>
	<%- include('header.ejs') %>
	<form id='user_infos' method="POST" name='user_infos' action='/update'>
		<h1><%= user %></h1>
		<input name='Firstname' type="text" maxlength="100" minlength="1"
			<% if (typeof locals.user_info != 'undefined') { %> value='<%= user_info.firstname %>' <% } else { %>
			placeholder="Prénom" <% } %> />
		<input name='Lastname' type="text" maxlength="100" minlength="1"
			<% if (typeof locals.user_info != 'undefined') { %> value='<%= user_info.lastname %>' <% } else { %>
			placeholder="Nom de Famille" <% } %> />
		<input name='Mail' type="email" maxlength="100" minlength="5"
			<% if (typeof locals.user_info != 'undefined') { %> value='<%= user_info.email %>' <% } else { %>
			placeholder="E-Mail" <% } %> />
		<input name='Password' type='password' maxlength="32" minlength="1" placeholder="Mot de passe" />
		<br />
		<h3>Fruit: </h3>
		<%- include('fruits.ejs') %>
		<button>Mettre a jour</button>
	</form>
	<form id='extended_infos' method="POST" name='extended_infos' action='/complete'>
		Age : <input name="age" type='number'
			<% if (typeof locals.user_extended != 'undefined' && locals.user_extended != null) { %>
			value=<%= user_extended.age %> <% } else { %> value=20 <% } %> max="77" min='18' />
		Genre : <select name="gender">
			<option value="Both"
				<% if (typeof locals.user_extended != 'undefined' && locals.user_extended.gender == 'Both') { %>
				selected <% } %>>Les deux</option>
			<option value="Woman"
				<% if (typeof locals.user_extended != 'undefined' && locals.user_extended.gender == 'Woman') { %>
				selected <% } %>>Femme</option>
			<option value="Man"
				<% if (typeof locals.user_extended != 'undefined' && locals.user_extended.gender == 'Man') { %> selected
				<% } %>>Homme</option>
		</select>
		Orientation : <select name="orientation">
			<option value="Women"
				<% if (typeof locals.user_extended != 'undefined' && locals.user_extended.orientation == 'Women') { %>
				selected <% } %>>Femmes</option>
			<option value="Men"
				<% if (typeof locals.user_extended != 'undefined' && locals.user_extended.orientation == 'Men') { %>
				selected <% } %>>Hommes</option>
			<option value="Both"
				<% if (typeof locals.user_extended != 'undefined' && locals.user_extended.orientation == 'Both') { %>
				selected <% } %>>Les deux</option>
			<option value="Others"
				<% if (typeof locals.user_extended != 'undefined' && locals.user_extended.gender == 'Others') { %>
				selected <% } %>>Autres</option>
		</select>
		Bio : <textarea name='bio'
			form="extended_infos"><% if (typeof locals.user_extended != 'undefined' && locals.user_extended.bio != null) { %><%= user_extended.bio %><% } %></textarea>
		<input type="hidden" name="_csrf" value=<%= csrfToken %> />
		<button>OK</button>
	</form>
	<form method="POST" id='new_photo' name="new_photo" action='/new_photo' enctype="multipart/form-data">
		Photo : <input type="file" name="image" />
		<input type="hidden" name="_csrf" value=<%= csrfToken %> />
		<button>OK</button>
	</form>
	<form method="POST" id='update_location' name='update_location' action="/update_location">
		<p>Où êtes vous actuellement ?<br />Nous chercherons les utilisateurs près de vous</p>
		<input type='text' name='street' placeholder="Nom de la rue" />
		<input type='text' name='city' placeholder="Nom de la ville" />
		Pays : <select name='country'>
			<option value="BE">Belgique</option>
			<option value="DE">Deutschland</option>
			<option value="EN">England</option>
			<option value='FR' selected>France</option>
			<option value='US'>United States</option>
		</select>
		<input type="hidden" name="_csrf" value=<%= csrfToken %> />
		<button>Mettre à jour</button>
	</form>
	<% if (typeof locals.images != 'undefined' && locals.images.image1 != null) { %>
	<section id='user_images'>
		<h2>Vos photos</h2>
		<% if (locals.images.image1 != null) { %>
		<figure>
			<img src='user_images/<%= images.image1 %>' width="200" , height="150">
			<figcaption>Photo de profil</figcaption>
		</figure>
		<% }
			if (locals.images.image2 != null) { %>
		<img src='user_images/<%= images.image2 %>' width="200" , height="150">
		<% }
			if (locals.images.image3 != null) { %>
		<img src='user_images/<%= images.image3 %>' width="200" , height="150">
		<% }
			if (locals.images.image4 != null) { %>
		<img src='user_images/<%= images.image4 %>' width="200" , height="150">
		<% }
			if (locals.images.image5 != null) { %>
		<img src='user_images/<%= images.image5 %>' width="200" , height="150">
		<% } %>
	</section>
	<% } %>
	<section id='likesnmatches'>
		<% if (typeof locals.profiles != 'undefined' && locals.profiles.length > 0) { %>
			<h3>Vous avez liké :</h3>
		<div id='likes'>
			<% for (var i in locals.profiles) { %>
			<style>
				#user<%=profiles[i].id %> {
					background-image: url('user_images/<%= profiles[i].image1 %>');
				}
			</style>
			<article id='user<%= profiles[i].id %>' class='public_profile_mini'>
				<p><%= profiles[i].firstname %> <%= profiles[i].lastname %>, <%= profiles[i].age %></p>
				<p>(<%= profiles[i].gender %>)</p><br />
				<a href='/like/<%= profiles[i].id %>'>Like</a>
				<% switch (profiles[i].fruit) {
                        case ('#pasdecoupdunsoir'): %>
				<img src='coconut.png' height="75" width="75" title="#pasdecoupdunsoir" />
				<% break;
                    case ('#unsoir'): %>
				<img src='peach.png' height="75" width="75" title="#unsoir" />
				<% break;
                    case ('#serieux'): %>
				<img src='cherry.png' height="75" width="75" title="#serieux" />
				<% break;
                    case ('#pqr'): %>
				<img src='spices.png' height="75" width="75" title="#pqr" />
				<% break;
                    } %>
				<p class='bio'><%= profiles[i].bio %></p>
			</article>
			<% } %>
		</div>
		<% } %>
	</section>
	<% if (typeof locals.user != 'undefined') { %>
	<a href="/delete_user"><img src="https://img.icons8.com/small/32/000000/gear.png"></a>
	<% } %>
</body>

</html>