<!DOCTYPE html>
<html lang='en'>
<%- include('head.ejs'); %>

<body>
	<style>
		#matchs {
			margin-left: 25px;
			margin-top: 5px;
			overflow-x: auto;
			overflow-y: unset;
			height: 600px;
			white-space: nowrap;
		}

		#profiles {
			margin-left: 25px;
			margin-top: 5px;
			overflow-x: auto;
			overflow-y: unset;
			height: 600px;
			white-space: nowrap;
		}

		.public_profile_mini p {
			margin-left: 20px;
			display: inline-block;
		}

		#profiles img, #matchs img {
			float: right;
		}

		.public_profile_mini {
			display: inline-block;
			border: 2px solid #f00;
			background-size: cover;
			width: 400px;
			height: 550px;
			color: white;
			text-shadow: 0 0 10px black;
			position: relative;
		}

		.public_profile_mini .bio {
			margin-left: 0px;
			position: absolute;
			width: 390px;
			max-height: 300px;
			bottom: 0px;
			left: 0px;
			white-space: pre-wrap;
		}

		.like_img_btn {
		cursor: pointer;
		background: url('/like.png');
		background-size: cover;
		width: 48px;
		height: 48px;
		display: inline-block
		}
	</style>

	<%- include('header.ejs'); %>
	<h1>Matcha</h1>
	<p>Welcome on matcha !<br />
	Ready to meet people ? <a href='/signup' title="Sign Up">Sign Up !</a></p>
	<% if (typeof locals.user !='undefined') {
			%><form method="POST" action='/search' id='search_bar' name='search_bar'>
		<p>Search someone : </p> <input type="search" name='terms' autofocus required />
		<input type="hidden" name="_csrf"
			value=<%=csrfToken %> /> <button>OK</button>
	</form> <%
	}
	if (typeof locals.profiles !='undefined' && locals.profiles.length > 0) { %>
		<section id='matches'>
			<% for (var i in locals.profiles) { %>
			<style>
				#user<%=profiles[i].id %> {
					background-image: url('user_images/<%= profiles[i].image1 %>');
				}
			</style>
			<h3>They liked you :</h3>
			<article id='user<%= profiles[i].id %>' class='public_profile_mini'>
				<p>
				<a href='/profile/<%= profiles[i].id %>' title='See profile'>
					<%= profiles[i].firstname %> <%= profiles[i].lastname %>
				</a>, <%= profiles[i].age %>
			</p>
			<p>(<%= profiles[i].gender %>)</p><br />
			<div class="like_img_btn" user='<%= matchs[i].id %>' title="Like" onclick="triggerLike(<%= matchs[i].id %>);"></div>
			<% switch (profiles[i].fruit) {
                        case ('#JustHangingOut'): %>
			<img src='coconut.png' height="75" width="75" title="#JustHangingOut" />
			<% break;
                    case ('#BootyCall'): %>
			<img src='peach.png' height="75" width="75" title="#BootyCall" />
			<% break;
                    case ('#SeriousRelationship'): %>
			<img src='cherry.png' height="75" width="75" title="#SeriousRelationship" />
			<% break;
                    case ('#SexFriends'): %>
			<img src='ginger.png' height="75" width="75" title="#SexFriends" />
			<p id='p_address<%= profiles[i].id %>'> </p>
			<% break;
			} %>
			<% if (typeof locals.profiles[i].lat != 'undefined' && locals.profiles[i].lat != null && typeof locals.profiles[i].lng != 'undefined' && locals.profiles[i].lng != null) { %>
				<script>
					get('/get_address/<%= profiles[i].lat %>/<%= profiles[i].lng %>', null, document.getElementById('address<%= profiles[i].id %>'), (anchor, data) => {
						if (data.city != undefined && data.country != undefined) {
							anchor.innerText = data.city + ', ' + data.country;
						}
					});
				</script>
			<% } %>
		<p class='bio'><%= profiles[i].bio %></p>
	</article>
	<% } %>
</section>
<% } %>
<% if (typeof locals.matchs != 'undefined' && locals.matchs.length > 0) { %>
<section id='matches'>
	<h3>Matches :</h3>
	<% for (var i in locals.matchs) { %>
	<style>
		#userm<%=matchs[i].id %> {
			background-image: url('user_images/<%= matchs[i].image1 %>');
		}
	</style>
	<article id='userm<%= matchs[i].id %>' class='public_profile_mini'>
		<p>
			<a href='/profile/<%= matchs[i].id %>' title='See Profile'>
				<%= matchs[i].firstname %> <%= matchs[i].lastname %>
			</a>, <%= matchs[i].age %>
		</p>
		<p>(<%= matchs[i].gender %>)</p><br />
		<a href='/chat/<%= matchs[i].id %>' title="Chat" ><img src="/bubble.png" /></a>
		<% switch (matchs[i].fruit) {
            case ('#JustHangingOut'): %>
			<img src='coconut.png' height="75" width="75" title="#JustHangingOut" />
			<% break;
            case ('#BootyCall'): %>
			<img src='peach.png' height="75" width="75" title="#BootyCall" />
			<% break;
            case ('#SeriousRelationship'): %>
			<img src='cherry.png' height="75" width="75" title="#SeriousRelationship" />
			<% break;
            case ('#SexFriends'): %>
			<img src='ginger.png' height="75" width="75" title="#SexFriends" />
			<% break;
		} %>
		<p id='m_address<%= matchs[i].id %>'> </p>
		<% if (typeof locals.matchs[i].lat != 'undefined' && locals.matchs[i].lat != null && typeof locals.matchs[i].lng != 'undefined' && locals.matchs[i].lng != null) { %>
			<script>
				get('/get_address/<%= matchs[i].lat %>/<%= matchs[i].lng %>', null, document.getElementById('address<%= matchs[i].id %>'), (anchor, data) => {
					if (data.city != undefined && data.country != undefined) {
						anchor.innerText = data.city + ', ' + data.country;
					}
				});
			</script>
		<% } %>
		<p class='bio'><%= matchs[i].bio %></p>
		</article>
	<% } %>
	</section>
<% } %>
</body>

</html>