<!DOCTYPE html>
<html lang="fr">
<%- include('head.ejs') %>
<body>
	<script>
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition((pos) => {
				var lat = pos.coords.latitude;
				var long = pos.coords.longitude;
			}, (error) => {
				switch (error.code) {
					case (error.PERMISSION_DENIED):
						console.log('User refused geolocation');
						break;
					case (error.POSITION_UNAVAILABLE):
						console.log('Can\'t get location');
						break;
					case (error.TIMEOUT):
						console.log('Timeout');
						break;
					default:
						console.log('Undefined Error');
						break;
				}
				lat = document.getElementById('lat').innerHTML;
				lng = document.getElementById('lng').innerHTML;
			});
		} else {
			lat = document.getElementById('lat').innerHTML;
			lng = document.getElementById('lng').innerHTML;
		}
		console.log('lat : ' + lat + '; long = ' + long);
	</script>
	<%- include('header.ejs') %>
	<p>Pour le moment, les matchs ne sont pas disponibles, mais on peut recupérer ici la localisation de l'utilisateur :
	</p>
	<p class='hidden' id='lat'><%= location.lat %></p>
	<p class="hidden" id='lng'><%= location.lng %></p>
	<style>
		#user<%= matchs.id %> {
			border: 2px solid #f00;
			background-image: url('user_images/<%= matchs.image1 %>');
			background-size: cover;
			width: 400px;
			height: 550px;
			color: white;
		}
	</style>
	<article id='user<%= matchs.id %>' class='public_profile'>
		<p><%= matchs.firstname %> <%= matchs.lastname %>, <%= matchs.age %></p>
		<p><%= matchs.fruit %> (<%= matchs.gender %>)</p>
	</article>
</body>

</html>