<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<style>
	#matches {
		position: relative;
	}


	#matches p {
		display: inline;
		padding: 5px;
	}

	#matches img {
		float: right;
	}

	.like_button {
		position: absolute;
		top : 40vh;
		right: -20vw;
	}
	
	.dislike_button {
		position: absolute;
		top: 40vh;
		left: -20vw;
	}

	.public_profile_mini {
		display: inline-block;
		border: 2px solid #f00;
		background-size: cover;
		width: 360px;
		height: 495px;
		color: white;
		position: absolute;
		top: 0px;
		left: calc(50vw - 180px);
	}

	.public_profile_mini .bio {
		max-height: 300px;
		width: 360px;
		margin-bottom: 0px;
		white-space: pre-wrap;
		display: block;
		text-shadow: 0px 0px 2px black;
		position: absolute;
		bottom: 0px;
		left: 0px;
		overflow-y: auto;
	}

	@media screen and (max-width: 600px) {
		.public_profile_mini {
			width: 300px;
			left: calc(50% - 150px);
		}

		.public_profile_mini .bio {
			width: 300px;
		}
		
		.dislike_button {
			top: 40vh;
			left: -20vw;
		}

		.like_button {
			top: 40vh;
			right: -20vw;
		}
	}

	@media screen and (max-width: 430px) {
		.dislike_button {
			left: 0px;
		}

		.like_button {
			right: 0px;
		}
	}
</style>

<body>
	<%- include('header.ejs') %>
	<script>
		function dislike_user(userid) {
			get('/dislike/' + userid, null, document.getElementById('matches'), (anchor, data) => {
				anchor.removeChild(document.getElementById('user' + userid));
				anchor.removeChild(document.getElementsByClassName('dislike_button')[anchor.children.length]);
				anchor.removeChild(document.getElementsByClassName('like_button')[anchor.children.length]);
			});
		}

		function like_user(userid) {
			let anc = document.getElementById('matches');
			console.log(anc);
			get('/like/' + userid, null, anc, (anchor, data) => {
				console.log('OK');
				// anchor.removeChild(document.getElementById('user' + userid));
				// anchor.removeChild(document.getElementsByClassName('dislike_button')[anchor.children.length]);
				// anchor.removeChild(document.getElementsByClassName('like_button')[anchor.children.length]);
			});
		}
	</script>

	<section id='matches'>
	<% for (var i in locals.matchs) { %>
		<article id='user<%= matchs[i].id %>' class='public_profile_mini'>
		<style>
			#user<%=matchs[i].id %> {
				background-image: url('user_images/<%= matchs[i].image1 %>');
			}
		</style>
			<button class="dislike_button" onclick="dislike_user('<%= matchs[i].id %>');">Dislike</button>
			<p>
				<a href='/profile/<%= matchs[i].id %>' title='Voir le profil'>
					<%= matchs[i].firstname %> <%= matchs[i].lastname %>
				</a>, <%= matchs[i].age %>
			</p>
			<p>(<%= matchs[i].gender %>)</p><br />
			<div class="like_img_btn" user='<%= matchs[i].id %>' title="Like" onclick="triggerLike(<%= matchs[i].id %>);"></div>
			<% switch (matchs[i].fruit) {
						case ('#JustHangingOut'): %>
			<img src='/coconut.png' height="75" width="75" title="#JustHangingOut" />
			<% break;
					case ('#BootyCall'): %>
			<img src='/peach.png' height="75" width="75" title="#BootyCall" />
			<% break;
					case ('#SeriousRelationship'): %>
			<img src='/cherry.png' height="75" width="75" title="#SeriousRelationship" />
			<% break;
					case ('#SexFriends'): %>
			<img src='/ginger.png' height="75" width="75" title="#SexFriends" />
			<% break;
					} %>
				<p id='address<%= matchs[i].id %>'> </p>
				<% if (typeof locals.matchs[i].lat != 'undefined' && locals.matchs[i].lat != null && typeof locals.matchs[i].lng != 'undefined' && locals.matchs[i].lng != null) { %>
					<script>
					get('/get_address/<%= matchs[i].lat %>/<%= matchs[i].lng %>', null, document.getElementById('address<%= matchs[i].id %>'), (anchor, data) => {
						if (data.city != undefined && data.country != undefined) {
							anchor.innerText = data.city + ', ' + data.country;
						}
					});
					</script>
				<% } %>
			<p id='userbio<%= matchs[i].id %>' class='bio'><%= matchs[i].bio %></p>
			<button class="like_button" onclick="like_user('<%= matchs[i].id %>');">Like</button>
		</article>
		<% } %>
	</section>
</body>
</html>