<!DOCTYPE html>
<html lang="fr">
	<%- include('head.ejs'); %>
	<body>
		<%- include('header.ejs') %>
		<h1><%= user %></h1>
		<p><% if (typeof locals.user_info != 'undefined') { %><%= user_info.firstname %><% } %></p>
		<p><% if (typeof locals.user_info != 'undefined') { %><%= user_info.lastname %><% } %></p>
		<p><% if (typeof locals.user_info != 'undefined') { %><%= user_info.email %>ß<% } %></p>

	</body>
</html>