<!DOCTYPE html>
<html lang="fr">
<%- include('head.ejs'); %>
<body>
	<%- include('header.ejs') %>
	<nav id='bad_profile_nav'>
		<% if (locals.profile.liked) {%>
			<button id='unlike_button'>Undo like</button>
			<% } else { %>
				<button id='like_button'>Like</button>
		<% } %>
		<button id='block_button'>Block</button>
		<a href='/report/<%= profile.id %>'>Report</a>
	</nav>
	<script type='text/javascript'>
		const setBadProfileListeners = () => {
			let like_button = document.getElementById('like_button');
			if (like_button) {
				like_button.onclick = () => {
					get('/like/<%= profile.id %>', null, null, (anchor, data) => {
						like_button.id = 'unlike_button';
						like_button.innerText = 'Undo Like';
						setBadProfileListeners();
					});
					console.log('Like')
				}
			}
			let unlike_button = document.getElementById('unlike_button');
			if (unlike_button) {
				unlike_button.onclick = () => {
					get('/unlike/<%= profile.id %>', null, null, () => {
						unlike_button.id = 'like_button';
						unlike_button.innerText = 'Like';
						setBadProfileListeners();
					});
					console.log('Unlike')
				}
			}
			let block_button = document.getElementById('block_button');
			if (block_button) {
				block_button.onclick = () => {
					get('/block/<%= profile.id %>');
					window.location.href = '/home';
				}
			}
		}
		window.addEventListener('load', setBadProfileListeners);
	</script>
	<style>
		#profile_content {
			margin-top: 5px;
			position: relative;
		}

		#user_infos {
			background-color: rgba(160, 160, 160, 0.4);
			border-radius: 20px;
			padding: 0px;
			width: calc(40vw - 60px);
			min-width: 200px;
			display: inline-block;
			margin: 0px;
			margin-left: 20px;
			font-size: 20px;
		}

		#user_infos img {
			float: right;
		}

		#user_images {
			background-color: rgba(160, 160, 160, 0.4);
			border-radius: 20px;
			width: calc(60vw - 20px);
			position: absolute;
			right: 20px;
			top: 0px;
			white-space: nowrap;
			overflow-x: auto;
			padding: 0px 10px;
		}

		#bad_profile_nav {
			width: 100vw;
		}

		.profile_img {
			max-width: 300px;
			width: 100%;
			height: auto;
			display: inline-block;
		}

		@media screen and (max-width: 550px) {
			#user_images {
				position: static;
				padding: 0px;
			}

			#user_images, #user_infos {
				width: calc(90vw - 40px);
				margin: 3px 5vw;
			}

			.profile_img {
				display: block;
			}
		}
	</style>
	<div id='profile_content'>
	<section id='user_infos'>
	<h2 id='pseudo_title'><%= profile.username %> (<%= profile.pop_score %>)</h2>
	<% if (typeof locals.user_info != 'undefined' && locals.user_info.fruit == '#JustHangingOut') { %><img
		id='coco_img' src='/coconut.png' width="75" height="75" title="#JustHangingOut" />
	<% } else if (typeof locals.user_info != 'undefined' && locals.user_info.fruit == '#BootyCall') { %><img
		src='/peach.png' width="75" height="75" title="#BootyCall" />
	<% } else if (typeof locals.user_info != 'undefined' && locals.user_info.fruit == '#SeriousRelationship') { %><img
		src='/cherry.png' width="75" height="75" title="#SeriousRelationship" />
	<% } else { %><img src='/ginger.png' width="75" height="75" title="#SexFriends" /><% } %>
	<br />
	<p><% if (typeof locals.profile != 'undefined') { %><%= profile.firstname %><% } %> <% if (typeof locals.profile != 'undefined') { %><%= profile.lastname %><% } %></p>
	<br />
	<p>Age :<% if (typeof locals.profile != 'undefined' && locals.profile != null) { %><%= profile.age %><% } %></p>
	<p>Gender :<% if (typeof locals.profile != 'undefined') { %><%= profile.gender %><% } %></p>
	<p>Looking for :<% if (typeof locals.profile != 'undefined') { %><%= profile.orientation %><% } %></p>
	<% if (typeof locals.profile.lat != 'undefined' && locals.profile.lat != null && typeof locals.profile.lng != 'undefined' && locals.profile.lng != null) { %>
		<p id='address'> </p>
					<script>
						let loc_req = new XMLHttpRequest();
						loc_req.open('GET', '/get_address/<%= profile.lat %>/<%= profile.lng %>');
						loc_req.responseType = 'json';
						loc_req.onload = function () {
							if (loc_req.status != 200) {
								console.log('AJAX Failed: status (' + loc_req.status + ')')
							} else if (loc_req.response.found != 0) {
								//Put location
								document.getElementById('address').innerHTML = loc_req.response.city + ', ' + loc_req.response.country;
							}
						}
						loc_req.onerror = function () {
							console.log('AJAX Error');
						}
						loc_req.onprogress = function () {

						}
						loc_req.send();
					</script>
				<% } %>
	<p>Bio
		: <% if (typeof locals.profile != 'undefined' && locals.profile.bio != null) { %><%= profile.bio %><% } %>
	</section>
		<% if (typeof locals.profile != 'undefined' && locals.profile.image1 != null) { %>
		<section id='user_images'>
			<h2>Pictures</h2>
			<% if (locals.profile.image1 != null) { %>
				<img src='/user_images/<%= profile.image1 %>' class='profile_img'>
			<% }
			if (locals.profile.image2 != null) { %>
			<img src='/user_images/<%= profile.image2 %>' class='profile_img'>
			<% }
			if (locals.profile.image3 != null) { %>
			<img src='/user_images/<%= profile.image3 %>' class='profile_img'>
			<% }
			if (locals.profile.image4 != null) { %>
			<img src='/user_images/<%= profile.image4 %>' class='profile_img'>
			<% }
			if (locals.profile.image5 != null) { %>
			<img src='/user_images/<%= profile.image5 %>' class='profile_img'>
			<% } %>
		</section>
		<% } %>
		<script>
 		socket.emit('is_logged', '<%= profile.username %>');
 
 		socket.on('logged', (result) => {
 			if (result.logged == true && result.user == '<%= profile.username %>') {
 				document.getElementById('pseudo_title').style.color = 'green';
 			} else {
 				document.getElementById('pseudo_title').style.color = 'red';
 			}
 		})
	 </script>
	 </div>
</body>

</html>