<!DOCTYPE html>
<html lang="fr">
	<%- include('head.ejs'); %>
	<body>
		<%- include('header.ejs') %>
		<h1><%= user %></h1>
		<p><% if (typeof locals.profile != 'undefined') { %><%= profile.firstname %><% } %></p>
		<p><% if (typeof locals.profile != 'undefined') { %><%= profile.lastname %><% } %></p>
		<br />
		<h3>Fruit: </h3>
		<%- include('fruits.ejs') %>
		<p>Age :<% if (typeof locals.profile != 'undefined' && locals.profile != null) { %><%= profile.age %><% } %></p>
		<p>Genre :<% if (typeof locals.profile != 'undefined') { %><%= profile.gender %><% } %></p>
		<p>Orientation :<% if (typeof locals.profile != 'undefined' { %><%= profile.orientation %><% } %></p>
		<p>Bio :<% if (typeof locals.profile != 'undefined' && locals.profile.bio != null) { %><%= profile.bio %><% } %></textarea>
		<% if (typeof locals.profile != 'undefined' && locals.profile.image1 != null) { %>
		<section id='user_images'>
			<h2>Vos photos</h2>
			<% if (locals.profile.image1 != null) { %>
			<figure>
				<img src='user_images/<%= profile.image1 %>' width="200", height="150">
				<figcaption>Photo de profil</figcaption>
			</figure>
			<% }
			if (locals.profile.image2 != null) { %>
			<img src='user_images/<%= profile.image2 %>' width="200", height="150">
			<% }
			if (locals.profile.image3 != null) { %>
			<img src='user_images/<%= profile.image3 %>' width="200", height="150">
			<% }
			if (locals.profile.image4 != null) { %>
			<img src='user_images/<%= profile.image4 %>' width="200", height="150">
			<% }
			if (locals.profile.image5 != null) { %>
			<img src='user_images/<%= profile.image5 %>' width="200", height="150">
			<% } %>
		</section>
		<% } %>
	</body>
</html>