<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<style>
	#matches {
		width: 80vw;
		margin-left: 10vw;
		margin-top: 5px;
		overflow-x: auto;
		white-space: nowrap;
	}

	.public_profile_mini p {
		margin-left: 20px;
		display: inline-block;
	}

	#matches img {
		float: right;
	}

	.public_profile_mini {
		display: inline-block;
		border: 2px solid #f00;
		background-size: cover;
		width: 400px;
		height: 550px;
		color: white;
		text-shadow: 0 0 10px black;
		position: relative;
	}

	.public_profile_mini .bio {
		position: absolute;
		width: 360px;
		max-height: 300px;
		bottom: 0px;
		left: 0px;
		margin-bottom: 0px;
		white-space: pre-wrap;
		display: block;
		text-shadow: 0px 0px 2px black;
		overflow-y: auto
	}

	#search_filters {
		width: calc(80vw - 40px);
		margin-left: 10vw;
	}

	#age_filters, #gender_dist_filters {
		display: inline-block;
	}

	#sort_asc_desc {
		width: 24px;
		height: 24px;
		background-image: url('/black_up_arrow.png');
		background-size: cover;
		display: inline-block;
	}

	.like_img_btn {
		cursor: pointer;
		background: url('/like.png');
		background-size: cover;
		width: 48px;
		height: 48px;
		display: inline-block;
	}

	@media screen and (max-width: 360px) {
		#search_filters {
			margin: auto;
		}

		#age_filters, #gender_dist_filters {
			display: block;
		}

		#matches {
			width: 100vw;
			margin-left: 0px;
			margin-top: 0px;
			overflow-y: auto;
		}

		.public_profile_mini {
			margin-top: 5px;
			display: block;
			width: 300px;
			left: calc(50% - 150px);
		}

		.public_profile_mini .bio {
			width: 300px;
		}
	}
		
</style>

<body>
	<%- include('header.ejs') %>
	<form id='search_filters' name='search_filters' method="POST">
		<div id='age_filters'>
		<label for='min_age'>Min age : </label>
		<input type='number' name='min_age' min=18 max=77 size=2
			value='<% if (typeof locals.search != "undefined" && typeof locals.search.min_age != "undefined" && locals.search.min_age != null) { %><%= search.min_age %><% } else { %>18<% } %>' /><br />
		<label for='max_age'>Max age : </label>
		<input type="number" name='max_age' min=18 max=77 size=2
			value='<% if (typeof locals.search != "undefined" && typeof locals.search.min_age != "undefined" && locals.search.max_age != null) { %><%= search.max_age %><% } else { %>77<% } %>' />
		</div>
		<label for='interests'>Interests : </label>
		<input type='search' name='interests' placeholder='#skateboard#slackline'
			<% if (typeof locals.search != "undefined" && typeof locals.search.interests != 'undefined' && locals.search.interests != null && locals.search.interests != '') { %>value=<%= search.interests %><% } %> />
		<div id='gender_dist_filters'>
		<label for='gender'>Gender : </label>
		<select name="gender">
			<option value="Both"
				<% if (typeof locals.search != "undefined" && locals.search.gender == 'Both') { %>selected<% } %>>Les
				deux</option>
			<option value="Woman"
				<% if (typeof locals.search != "undefined" && locals.search.gender == 'Woman') { %>selected<% } %>>
				Femmes</option>
			<option value="Man"
				<% if (typeof locals.search != "undefined" && locals.search.gender == 'Man') { %>selected<% } %>>Hommes
			</option>
		</select><br />
		<label for='distance'>Max distance : </label><input type='number' name='distance' step='0.1'
			value='<% if (typeof locals.search != "undefined" && typeof locals.search.distance != "undefined"  && locals.search.distance != null) { %><%= search.distance %><% } else { %>20<% } %>' />km
		</div><br />
		<label for='fruit'>Fruit :</label><br />
		<%- include('fruits_boxes.ejs') %><br />
		<label for='sort'>Sort by : </label><select name="sort">
			<option value="none">No sort</option>
			<option value="age">Age</option>
			<option value="distance">Distance</option>
			<option value="likes">Popularity</option>
			<option value="common_interests">Common Interests</option>
		</select>
		<div id="sort_asc_desc"></div>
		<input type='hidden' name='order' value="ASC" id='sort_asc_desc_value' />
		<button>Search</button>
		<input type="hidden" name="_csrf" value=<%= csrfToken %> />
	</form>
	<script>
		let sort_img = document.getElementById('sort_asc_desc');
		let sort_value = document.getElementById('sort_asc_desc_value');
		if (sort_value.value == 'DESC') {
			sort_img.style.transform = 'rotate(180deg)';
		}
		sort_img.addEventListener('click', (e) => {
			if (sort_value.value == 'ASC') {
				sort_value.value = 'DESC';
				sort_img.style.transform = "rotate(180deg)";
			} else {
				sort_value.value = 'ASC';
				sort_img.style.transform = 'rotate(0deg)';
			}
		});
		function triggerLike(userid) {
			get('/like/' + userid, null, null, () => {
				window.location.href = '/profile/' + userid;
			});
		}
	</script>
	
	<section id='matches'>
	<% for (var i in locals.matchs) { %>
		<article id='user<%= matchs[i].id %>' class='public_profile_mini'>
		<style>
			#user<%=matchs[i].id %> {
				background-image: url('user_images/<%= matchs[i].image1 %>');
			}
		</style>
			<p>
				<a href='/profile/<%= matchs[i].id %>' title='Voir le profil'>
					<%= matchs[i].firstname %> <%= matchs[i].lastname %>
				</a>, <%= matchs[i].age %>
			</p>
			<p>(<%= matchs[i].gender %>)</p><br />
			<div class="like_img_btn" user='<%= matchs[i].id %>' title="Like" onclick="triggerLike(<%= matchs[i].id %>);"></div>
			<% switch (matchs[i].fruit) {
						case ('#JustHangingOut'): %>
			<img src='/coconut.png' height="75" width="75" title="#JustHangingOut" />
			<% break;
					case ('#BootyCall'): %>
			<img src='/peach.png' height="75" width="75" title="#BootyCall" />
			<% break;
					case ('#SeriousRelationship'): %>
			<img src='/cherry.png' height="75" width="75" title="#SeriousRelationship" />
			<% break;
					case ('#SexFriends'): %>
			<img src='/ginger.png' height="75" width="75" title="#SexFriends" />
			<% break;
					} %>
				<p id='address<%= matchs[i].id %>'> </p>
				<% if (typeof locals.matchs[i].lat != 'undefined' && locals.matchs[i].lat != null && typeof locals.matchs[i].lng != 'undefined' && locals.matchs[i].lng != null) { %>
					<script>
					get('/get_address/<%= matchs[i].lat %>/<%= matchs[i].lng %>', null, document.getElementById('address<%= matchs[i].id %>'), (anchor, data) => {
						if (data.city != undefined && data.country != undefined) {
							anchor.innerText = data.city + ', ' + data.country;
						}
					});
					</script>
				<% } %>
			<p id='userbio<%= matchs[i].id %>' class='bio'><%= matchs[i].bio %></p>
		</article>
		<% } %>
	</section>
	<script>
	let divs = document.get
</body>

</html>