<!DOCTYPE html>
<html lang="fr">
    <%- include('head.ejs') %>
    <body>
        <style>
            #public_profile {
                background-image: url('user_images/<%= profile.image1 %>');
                background-size: cover;
            }
        </style>
        <%- include('header.ejs') %>
        <article id='public_profile'>
            <h3><%= profile.username %></h3>
            <p><%= profile.firstname %> <%= profile.lastname %>, <%= profile.age %></p>
            <p><%= profile.gender %></p>
            <% switch (profile.fruit) {
				case ('#pasdecoupdunsoir'): %>
			<img src='coconut.png' height="75" width="75" title="#pasdecoupdunsoir" />
			<% break;
			case ('#unsoir'): %>
			<img src='peach.png' height="75" width="75" title="#unsoir" />
			<% break;
			case ('#serieux'): %>
			<img src='cherry.png' height="75" width="75" title="#serieux" />
			<% break;
			case ('#pqr'): %>
			<img src='spices.png' height="75" width="75" title="#pqr" />
			<% break;
			} %>
        </article>
    </body>
</html>